newsAppTelegram.json
{
  "name": "Daily AI News Digest - Fixed Ollama",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 6 * * *",
        "timeZone": "UTC"
      },
      "id": "1",
      "name": "Schedule Trigger (daily @ 06:00 UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/tag/artificial-intelligence/feed/",
        "options": {
          "propertyName": "items"
        }
      },
      "id": "2",
      "name": "RSS - TechCrunch AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "3",
      "name": "Merge RSS outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "property": "link"
      },
      "id": "4",
      "name": "Deduplicate (by URL) & Normalize",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "url": "={{$json[\"link\"]}}",
        "responseFormat": "string"
      },
      "id": "5",
      "name": "HTTP Request - Fetch Article HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "article",
              "returnValue": "text"
            },
            {
              "key": "image",
              "cssSelector": "meta[property='og:image']",
              "returnValue": "attribute",
              "attribute": "content"
            }
          ]
        }
      },
      "id": "6",
      "name": "HTML Extract - main content & og:image",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"content\"].length}}",
              "operation": "larger",
              "value2": 150
            }
          ]
        }
      },
      "id": "7",
      "name": "Filter Short Articles (>150 words)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "url": "http://192.168.30.250:11434/api/generate",
        "method": "POST",
        "responseFormat": "json",
        "json": true,
        "body": {
          "model": "llama3",
          "prompt": "Summarize this article in 3-4 sentences and classify it into categories like {News, Research, Opinion}. Article content:\n\n{{$json[\"content\"]}}",
          "stream": false
        },
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "id": "8",
      "name": "Ollama - Summarize & Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1600, 300]
    }
  ],
  "connections": {
    "Schedule Trigger (daily @ 06:00 UTC)": {
      "main": [
        [
          {
            "node": "RSS - TechCrunch AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - TechCrunch AI": {
      "main": [
        [
          {
            "node": "Merge RSS outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge RSS outputs": {
      "main": [
        [
          {
            "node": "Deduplicate (by URL) & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate (by URL) & Normalize": {
      "main": [
        [
          {
            "node": "HTTP Request - Fetch Article HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Fetch Article HTML": {
      "main": [
        [
          {
            "node": "HTML Extract - main content & og:image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract - main content & og:image": {
      "main": [
        [
          {
            "node": "Filter Short Articles (>150 words)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Short Articles (>150 words)": {
      "main": [
        [
          {
            "node": "Ollama - Summarize & Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "fixed-ollama-0925"
}
